.Weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg,#2f4680,#500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.searchBar img{
    width: 40px;
    height: auto;
    mix-blend-mode: multiply;
}

.searchBar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    position: relative;
    border: 2px solid transparent;
    outline: none;
    padding: 10px;
    transition: border 0.3s ease-in-out;
  }
  
  .searchBar input:hover {
    border-bottom: 2px solid #dc275d;
  }

  .Weather img{
    mix-blend-mode: multiply;
  }

  .temperature{
    color: #fff;
    font-size: 80px;
    line-height: 1 ;
  }

  .location{
    color: #fff;
    font-size: 40px;
  }

  .WeatherData{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .WeatherData .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
  }

  .WeatherData .col span{
    display: block;
    font-size: 16px;
  }

  .WeatherData .col img{
    width: 50px;
    margin-top: 10px;
    mix-blend-mode: multiply;
  }
  